.center {
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  border: solid #c9c9c9 1px;
  padding: 10px;
}

.invalid-notif {
  font-size: 12px;
  color: red;
  font-style: italic;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-5 {
  margin-top: 5px;
}

.CreateAccount .form-field {
  margin: 0.7em;
}

.CreateAccount .form-field input {
  font-size: large;
  border-width: 0px 0px 3px 0px;
  min-width: 250px;
}
